*{
     box-sizing: border-box;
     padding: 0px;
     margin: 0px;
}

:root{
     --height: ;
     --width: ;
     --color: ;
     --signcolor: ;
     --border: 1px sold rgb(140, 118, 118);


}

body{
     
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: #d5dde5;
background-image: linear-gradient(62deg, #d5dde5 0%, #f0e9f3 100%);

}

.box{
     height: 60vh;
     width: 40vw;
     border: 2px solid black;
     border-radius: 5px;

     display: flex;
     justify-content: center;
     align-items: center;
}

.screen{
  border: var(--border);
  height: 10%;
  width:90%;
}